@font-face {
  font-family: Ubuntu-Light;
  src: url(../fonts/Ubuntu-Light.woff2) format("woff2"), url(../fonts/Ubuntu-Light.woff) format("woff");
}

@font-face {
  font-family: OpenSans-CondLight;
  src: url(../fonts/OpenSans-CondLight.woff2) format("woff2"), url(../fonts/OpenSans-CondLight.woff) format("woff");
}
