@font-face {
  font-family: PFBagueSansPro-Medium;
  src: url(../fonts/PFBagueSansPro-Medium.woff2) format("woff2"), url(../fonts/PFBagueSansPro-Medium.woff) format("woff");
}

@font-face {
  font-family: Ubuntu-Light;
  src: url(../fonts/Ubuntu-Light.woff2) format("woff2"), url(../fonts/Ubuntu-Light.woff) format("woff");
}
